#HOME{
    height:820px;
    
     }

     .heading {
        font-size:1.7rem;
        }

      .pic{  
            display:flex;
            flex-direction:column;
           
            }

        .pic img{
            width:220px;
            height:175px;
            
            }
            
            #intro h2{
            font-size:1.5rem
            }
            
            .gallery img {
            width:250px;
            height:150px;
            margin:20px;
            }
            
            .input {
            width:80%;
            }
            
            
            #msg{width:70%;}
            #send{width:20%;}
          
            .u1{display:none;}
            .u2{display:none;}

            #main{
             padding-left:20px;
             }
            
            
        
    
